h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-style: solid; text-align: center;
}

body{
    background-color: rgb(169, 184, 33);
}
.caract {line-height: 30px;}

ul{
    line-height: 30px;
    font-size: 15px;
   border-bottom-style: solid;
}

#fotocaique {width: 150px; padding: 50px; background-color: darkolivegreen;}
.desc {display: inline-block; }
h3 {margin: 0;width: 900px; height: 150px; top: 0; left: 250px; display: inline-block; align-items: center;padding-top: 100px;}
.imagemcaique { display: inline-block; width: 250px;}
#fotocaique {float: left;}


.lista li:nth-child(odd) { color: blue;}
